* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* base style */
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

button {
    padding: 14px 20px;
}

h2 {
    text-align: center;
}

input[type=text],input[type=number], select{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
}

input[type=submit] {
    padding: 14px 20px;
    cursor: pointer;
    margin: 8px 0;
    width: 100%;
}

.container {
    border: 2px solid #eee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.book-form {
    border: 2px solid #eee;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    padding: 12px 20px;
}
